@{
  ViewBag.Title = "About";
  var products = (List<WebApplication8.Models.Posts>)ViewData["Posts"];

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>
  <div>
    @{ Html.RenderPartial("_ViewPosts", products);}

  </div>
</div>
